.ui-widget .ui-widget {
font-size: 0.8em;
}

#infobox{
border:  #0066FF outset 0.1em;
-moz-border-radius: 1em;
-webkit-border-raduis: 1em;
}

#choices{
border: #0066FF inset 0.1em;
-moz-border-radius: 1em;
-webkit-border-raduis: 1em;
}

td { 
width: 33.3%; 
}

p {
  margin: 1.8em;
}

#main-page {
  border: double darkred;
  padding: 1em;
}

#programs{
	visibility: visible;
	widows: 0;
	margin: 0px;
	padding: 10px;
	border-style: ridge;
	background-color: #f4ebd8;
	color: #3a3a3a;
	font-family: sans-serif;
}

.program{
	padding: 20px;
	margin: 10px;
	border-width: 2px;
	border-style: inset;
	color: #3f3f3f;
	background-color: #cad4c6;
}

.customer-info {
  font-weight: bold;
}

.customer-data {
  color: black;
}

.tagline {
  text-align: center;
  color: black;
  font-size: .8em;
  font-style: italic;
}

body{ font: 80% "Trebuchet MS", sans-serif; margin: 50px;}

.intro {
  font: 100%  "Geneva", sans-serif;
  font-size: 14;
  margin: 2em;
}

.demoHeaders { margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

#button   {
	border-style: groove;
    border-color: #4c9fff;
    background-color: #4892cc;
    text-decoration: none;   
    width: 80px;
    text-align: center;}
  
  .buttontext {color: #a2ff57; 
                text-decoration: none;   
                font: 12pt "Trebuchet MS", sans-serif;
                cursor: hand;}

  .buttonover  {color: #e33629; 
                text-decoration: none;
                font: 12pt "Trebuchet MS", sans-serif;
                cursor: hand;}